.introduction {
  display: inline-block;
  background-color: rgb(245, 244, 244);
  height: 550px;
  width: 30%;
  vertical-align: top;
  margin: 1%;
  margin-left: 3%;
}

.logo {
  margin-left: 8%;
  margin-top: 5%;
  height: 12%;
  width: 25%;
}

.text {
  margin-left: 8%;
}