.tour_page {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 100;
  height:100%;
  background-color: white;
  overflow: auto;
}

.navigation { 
  position: fixed;
  top: 0;
  border-bottom: solid;
  border-width: 1px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 4px;
  border-color: rgb(211, 211, 211);
  background-color: white;
}

.tour_button {
  display:inline-block;
  vertical-align: top;
  margin-top: 0.6%;
  height: 40px;
  margin-left: 11%;
  width: 160px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  padding-top: 0.3%;
  color: rgb(96, 97, 99);
  font-size: 11pt;
  font-weight: 400;
}

.rooms_button {
  display:inline-block;
  vertical-align: top;
  margin-top: 0.6%;
  height: 40px;
  margin-left: 11%;
  width: 160px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  padding: 0.3%;
  color: rgb(72, 73, 75);
}

.top {
  margin-top: 13%;
}

.tour_image {
  float: left;
  margin-left: 3%;
  width: 15%;
  height: 55%;
}


.back_button {
  background:transparent;
  border:none;
  outline:none;
  display:inline-block;
  margin-top: 1%;
  margin-left: 1.5%;
  height:40px;
  width:40px;
  cursor:pointer;
}

.back_image {
  height: 30px;
  width: 30px;
}

.content {
  width: 58%;
  margin-left: 16%;
}

.picture {
  width: 115%; 
  height: 550px;
}

.room_text {
  color: rgb(72, 73, 75);
  font-size: 28pt;
  font-weight: 900;
  margin-bottom: 0;
}

.description_text {
  margin-bottom: 7%;
  color: rgb(114, 114, 117);
  font-size: 14pt;
  margin-left: 0.5%;
}



